.toast-wrapper {
    position: fixed;
    top: 80px;
    right: 0;
    padding: 1rem;
    z-index: 2000;


  }

  .toast-header {
    background-color: #072f5f;
    color: white;
  }
  
  .toast-wrapper .btn-close {
    color: white !important;
  }
  