<!-- <app-card [options]="false">
    <h5 class="text-center py-2 addAccessHeading">Process has been completed successfully</h5>
</app-card> -->

<div class="success-wrapper">
    <div class="success-card">

        <div class="burst"></div>

        <div class="checkmark-circle">
            <div class="checkmark"></div>
        </div>

        <h4 class="success-title">
            {{ successMessage }}
        </h4>

        <!-- Blaster Sparks -->
        <div class="blaster">
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
            <span></span><span></span><span></span><span></span>
        </div>

    </div>
</div>