<!-- Modal -->
<!-- <div #changePassword class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel" aria-hidden="true"
data-bs-backdrop="static" (hidden.bs.modal)="onModalClose()" >
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content" style="background: linear-gradient(145deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1))">
      <div class="modal-body pt-2">
        <div class="text-left">
          <button style="background-color: white;" type="reset" class="btn-close " data-bs-dismiss="modal"
            aria-label="Close" [routerLink]="['/dashboard']"></button>
        </div>
        <div class="form-container">
          <div class="form-box">
            <p>Change Password</p>
            <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
              <div class="input-field">
                <input type="password" placeholder="Old Password" formControlName="oldPassword" id="changeFormoldPasswordId"  
                  [ngClass]="{ 'is-invalid': (isFormSubmitted || changePasswordForm.get('oldPassword')?.touched) && changePasswordForm.get('oldPassword')?.invalid }" />
                <div *ngIf="(isFormSubmitted || changePasswordForm.get('oldPassword')?.touched) && changePasswordForm.get('oldPassword')?.invalid"
                  class="invalid-feedback m-0" style="right: 97px;">
                  <span *ngIf="changePasswordForm.get('oldPassword')?.errors?.required" class="p-0 m-0">Old Password is required.</span>
                </div>
              </div>
              
              <div class="input-field">
                <input [type]="newPasswordFieldType" placeholder="New Password" formControlName="newPassword" maxlength="25" id="changeFormNewPasswordId" 
                  [ngClass]="{ 'is-invalid': (isFormSubmitted || changePasswordForm.get('newPassword')?.touched) && changePasswordForm.get('newPassword')?.invalid }">
                <div *ngIf="(isFormSubmitted || changePasswordForm.get('newPassword')?.touched) && changePasswordForm.get('newPassword')?.invalid"
                  class="invalid-feedback m-0" style="right: 91px;">
                  <span *ngIf="changePasswordForm.get('newPassword')?.errors?.required" class="p-0 m-0">New Password is required.</span>
                  <span *ngIf="changePasswordForm.get('newPassword')?.errors?.pattern">Enter Strong Password</span>
                </div>
                <i (click)="toggleNewPasswordVisibility()" class="view-icon" [ngClass]="newPasswordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </div>
              
              <div class="input-field">
                <input [type]="confirmPasswordFieldType" placeholder="Confirm Password" formControlName="confirmPassword" maxlength="25" id="changeFormconfirmPasswordId"
                  [ngClass]="{ 
                    'is-invalid': 
                      (isFormSubmitted || changePasswordForm.get('confirmPassword')?.touched) 
                      && (changePasswordForm.get('confirmPassword')?.invalid || changePasswordForm.errors?.mismatch) 
                  }">
                <div *ngIf="(isFormSubmitted || changePasswordForm.get('confirmPassword')?.touched) && changePasswordForm.get('confirmPassword')?.invalid"
                  class="invalid-feedback m-0" style="right: 67px;">
                  <span *ngIf="changePasswordForm.get('confirmPassword')?.errors?.required" class="p-0 m-0">Confirm Password is required.</span>
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.value && changePasswordForm.get('confirmPassword')?.value && changePasswordForm.errors?.mismatch"
                  class="invalid-feedback m-0" style="right: 67px;">
                  <span class="p-0 m-0">Passwords do not match.</span>
                </div>
              
                <i (click)="toggleConfirmPasswordVisibility()" class="view-icon" [ngClass]="confirmPasswordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </div>
              <button type="submit" class="next-button">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<app-toast-message></app-toast-message>
<!-- Modal -->
<div #changePassword class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="changePasswordLabel"
  aria-hidden="true" data-bs-backdrop="static" (hidden.bs.modal)="onModalClose()">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body" style="background: linear-gradient(145deg, rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.1))">
        <div class="col-md-12">
          <div class="text-end">
            <button style="background-color: white;" type="reset" class="btn-close " data-bs-dismiss="modal" #closeModal
              aria-label="Close" [routerLink]="['/dashboard']" style="background-color: rgb(228, 208, 208);"></button>
            <form [formGroup]="changePasswordForm" (ngSubmit)="changeSubmitForm()">
              <p class="text-center fw-bold" style="color:black">Change Password</p>
              <div class="input-field mt-2">
                <input [type]="oldPasswordFieldType" placeholder="Old Password" formControlName="oldPassword"
                  id="changeFormoldPasswordId" (paste)="onPaste($event)"
                  [ngClass]="{ 'is-invalid': (isFormSubmitted || changePasswordForm.get('oldPassword')?.touched) && changePasswordForm.get('oldPassword')?.invalid }" />
                <div
                  *ngIf="(isFormSubmitted || changePasswordForm.get('oldPassword')?.touched) && changePasswordForm.get('oldPassword')?.invalid"
                  class="invalid-feedback m-0" style="left: 0px;">
                  <span *ngIf="changePasswordForm.get('oldPassword')?.errors?.required" class="p-0 m-0">Old Password is
                    required.</span>
                </div>
                <i (click)="toggleOldPasswordVisibility()" class="view-icon"
                  [ngClass]="oldPasswordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </div>

              <div class="input-field">
                <input [type]="newPasswordFieldType" placeholder="New Password" formControlName="newPassword"
                  maxlength="25" id="changeFormNewPasswordId" (paste)="onPaste($event)" 
                  [ngClass]="{ 'is-invalid': (isFormSubmitted || changePasswordForm.get('newPassword')?.touched) && changePasswordForm.get('newPassword')?.invalid }">
                <div
                  *ngIf="(isFormSubmitted || changePasswordForm.get('newPassword')?.touched) && changePasswordForm.get('newPassword')?.invalid"
                  class="invalid-feedback m-0">
                  <span *ngIf="changePasswordForm.get('newPassword')?.errors?.required" class="p-0 m-0">New Password is
                    required.</span>
                  <span *ngIf="changePasswordForm.get('newPassword')?.errors?.pattern">Enter Strong Password</span>
                </div>
                <i (click)="toggleNewPasswordVisibility()" class="view-icon"
                  [ngClass]="newPasswordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </div>


              <div class="input-field">
                <input [type]="confirmPasswordFieldType" placeholder="Confirm Password" (paste)="onPaste($event)"
                  formControlName="confirmPassword" maxlength="25" id="changeFormconfirmPasswordId" [ngClass]="{ 
                    'is-invalid': 
                      (isFormSubmitted || changePasswordForm.get('confirmPassword')?.touched) 
                      && (changePasswordForm.get('confirmPassword')?.invalid || changePasswordForm.errors?.mismatch) 
                  }">
                <div
                  *ngIf="(isFormSubmitted || changePasswordForm.get('confirmPassword')?.touched) && changePasswordForm.get('confirmPassword')?.invalid"
                  class="invalid-feedback m-0">
                  <span *ngIf="changePasswordForm.get('confirmPassword')?.errors?.required" class="p-0 m-0">Confirm
                    Password is required.</span>
                </div>
                <div
                  *ngIf="changePasswordForm.get('newPassword')?.value && changePasswordForm.get('confirmPassword')?.value && changePasswordForm.errors?.mismatch"
                  class="invalid-feedback m-0">
                  <span class="p-0 m-0">Passwords do not match.</span>
                </div>

                <i (click)="toggleConfirmPasswordVisibility()" class="view-icon"
                  [ngClass]="confirmPasswordFieldType === 'password' ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
              </div>
              <button type="submit" class="next-button"><i class="feather icon-thumbs-up"></i>&nbsp;Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>