
::ng-deep .pcoded-content {
    position: relative;
    display: block;
    padding: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 5px !important;
}

@media only screen and (max-width: 991px) {
    ::ng-deep .pcoded-navbar.navbar-collapsed~.pcoded-main-container {
        margin-left: 0px;
        margin-top: 57px !important;
    }
}
////////.top-nav//////////////
// .top-nav {
//   margin: 10px 0;
// }

.nav-btn {
  border: 1px solid #d1d5db;
  background: #fff;
  color: #072F5F;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn i {
  font-size: 14px;
}

.nav-btn:hover {
  background: #f3f4f6;
}

.nav-btn.active {
  background: #072F5F;  /* dark blue/gray */
  color: #fff;
  border-color: #374151;
}
////////.top-nav//////////////
/// // search Input Field
.dropdown-icon {
    position: absolute;
    right: 10px;
    top: 23%;
    transform: translateY(-50%);
    cursor: pointer;
}

.dropdown {
    font-size: 12px;
}

.dropdown-menu {
    width: 95%;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown .dropdown-item {
    padding: 5px 6px;
}

// search Input Field
// this is for export dropdown
.export-container {
    position: relative;
    display: inline-block;
}

.export-button {
    background-color: #ffffff;
    color: #072f5f;
    border: 1px solid #072f5f;
    font-size: 14px;
    padding: 5px 6px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    border-radius: 5px;
}

.export-button:hover {
    background-color: #e6f0ff;
    border-color: #0056b3;
}

.export-button i {
    margin-left: 2px;
}

.dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.dropdown-item i {
    margin-right: 5px;
}

.dropdown-item:hover {
    background-color: #072f5f;
    color: white;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
    z-index: 1;
    width: 120px;
    top: 84%;
}

// this is for export dropdown