
.disabled-cell {
    pointer-events: none;
    color: #ccc;
    background-color: #f1f1f1;
    span i{
        color:rgb(86, 86, 86) !important
    }
}
.enabled-cell {
    cursor: pointer; 
    color: #072f5f; 
    background-color: inherit; 
}

::ng-deep .pcoded-content {
    position: relative;
    display: block;
    padding: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;

}

.pcoded-header {
    .card {
        margin: 0px !important;
    }
}

.invalid-feedback {
    font-size: 10px;
}
.table-wrapper {
  max-height: 520px !important;
}
.table thead th {
  padding: 10px 10px !important;
}
.table tbody td {
  padding: 4px 10px !important;
}


// ************this is for custome date*******
.custom-date-input {
    position: relative;
}

.custom-date-input input {
    // border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px 5px;
    width: 100%;
    outline: none;
    font-size: 11px;
    padding-top: 17px;
    line-height: 1.9;
}

.custom-date-input input::placeholder {
    font-size: 5px;
    color: #aaa;
}

.custom-date-input label {
    position: absolute;
    color: #888;
    pointer-events: none;
    transition: all 0.3s ease;
}

.custom-date-input input:focus+label,
.custom-date-input input:not(:placeholder-shown)+label {

    top: 1px;
    left: 5px;
    font-size: 12px;
}

/* Ensure this one applies specifically to date inputs as well */
input[type="date"].form-control.is-invalid {
    border-color: #ff5370 !important;
}

// ************this is for custome date*******
@media only screen and (max-width: 991px) {
    ::ng-deep .pcoded-navbar.navbar-collapsed~.pcoded-main-container {
        margin-left: 0px;
        margin-top: 57px !important;
    }
}