::ng-deep .pcoded-header {
    .card {
        margin: 0px !important;
    }
}

::ng-deep .pcoded-content {
    position: relative;
    display: block;
    padding: 0px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 5px !important;
}

@media only screen and (max-width: 991px) {
    ::ng-deep .pcoded-navbar.navbar-collapsed~.pcoded-main-container {
        margin-left: 0px;
        margin-top: 57px !important;
    }
}


table {
    width: 100%;
    border-collapse: collapse;

}
.table-wrapper {
    max-height: 350px !important;
     overflow-y: auto;
  position: relative;
}

th,
td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #072f5f;
    /* Blue background for table header */
    color: #ffffff;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
    /* Light grey background for even rows */
}

// .inner-shadow {
//     box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
// }

///////////// this is modal ///////////
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-content {
    animation: fadeInUp 1.5s ease-in-out;
}


.btn-close {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-close:hover {
    transform: rotate(90deg);
    opacity: 0.7;
}

.text-muted {
    width: 110px;
    text-align: right;
    margin-right: 5px;
    font-size: 12px;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.info-item {
    display: flex;
}

.info-item span {
    display: inline-block;
}

////////////
